@import url(./cabecalho.css);
@import url(./cartao.css);
@import url(./endereco.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}

:root {
  --azul: #2c74b3;
  --cinza: #333333;
  --cinza-claro: #cbcbcb;
  --branco: #ffffff;
  --preto: #000000;
}
